@model GroupViewModel
@inject IViewLocalizer _localizer
@{ ViewBag.Title = _localizer["CreateGroup"];}

<form method="post" asp-action="Create">
    <input asp-for="CourseId" hidden />
    <input asp-for="FormationDate" hidden />
    <div class="border p-3">
        <div class="row">
            <h2 class="text-info ps-3">@_localizer["AddGroup"]</h2>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row m-3">
            <div class="col-8">
                <div class="row m-3">
                    <div class="col-4">
                        <label asp-for="Name" class="required"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>

                <div class="row m-3">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value=@_localizer["CreateBtn"] />
                        </div>
                        <div class="col">
                            <a id="backButton" class="btn btn-success w-100">@_localizer["Back"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<partial name="_BackConfirm" />

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        <script src="~/lib/js/ConfirmBack.js"></script>
        <script src="~/lib/js/DisableButtonIfMiodelInvalid.js"></script>
    }
}