@model GroupViewModel
@inject IViewLocalizer _localizer
@{ ViewBag.Title = _localizer["EditGroup"];}

<form method="post">
    <input asp-for="Id" hidden />
    <input asp-for="CourseId" hidden />
    <div class="border p-3">
        <div class="row">
            <h2 class="text-info ps-3">@_localizer["EditGroup"]</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row m-3">
            <div class="col-8">
                <div class="row m-3">
                    <div class="col-4">
                        <label asp-for="Name" class="required"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row m-3">
                    <div class="col-4">
                        <label asp-for="FormationDate" class="required"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="FormationDate" class="form-control" type="date" />
                        <span asp-validation-for="FormationDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value=@_localizer["Update"] />
                        </div>
                        <div class="col">
                            <a asp-action="Index" asp-route-courseId="@Model.CourseId" class="btn btn-success w-100">@_localizer["Back"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}