@model Student
@{ ViewBag.Title = "Delete group";}

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="row">
            <h2 class="text-info ps-3">Delete student</h2>
        </div>
        <div class="row m-3">
            <div class="col-8">
                <div class="row m-3">
                    <div class="col-4">
                        <label asp-for="FirstName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="FirstName" disabled class="form-control" />
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-4">
                        <label asp-for="LastName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LastName" disabled class="form-control" />
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-4">
                        <label asp-for="DateOfBirth"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DateOfBirth" disabled class="form-control" type="date" />
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-4">
                        <label asp-for="Status"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Status" disabled="" class="form-select">
                            <option value="1">Applicant</option>
                            <option value="2">Undergraduate</option>
                            <option value="3">Graduate</option>
                            <option value="4">Expelled</option>
                        </select>
                    </div>
                </div>

                <div class="row m-3">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" asp-route-groupId="@Model.GroupId" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}