@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1 class="text-danger">Error.</h1>
                <h2 class="text-danger pb-2">An error occurred while processing your request.</h2>
                <div>
                    <a asp-action="Index" asp-controller="Courses" class="btn btn-primary btn-lg">
                        Click here to navigate to the courses list
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
