@{
    ViewBag.Title = "Not Found";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h2 class="pb-2">@ViewBag.ErrorMessage</h2>
                <div>
                    <a asp-action="Index" asp-controller="Courses" class="btn btn-primary btn-lg">
                        Click here to navigate to the courses list
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>