.required:after {
    content: " *";
    color: red;
}

.input-validation-error {
    border-color: red;
}

.input-validation-error:focus {
    border-color: red;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.column-heading {
    text-decoration: none;
    font-weight: bolder
}
